.git
.gitignore

node_modules
**/node_modules

**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.coverage
**/htmlcov

**/.output
**/.vercel
**/dist
**/build

.vscode
.idea
**/.DS_Store

.env
**/.env
!**/.env.example

*.md
docs/

**/tests
**/*.test.ts
**/*.test.tsx
**/*.spec.ts

**/*.log
**/coverage.json
